### Inflated Beta Regression Run - User Guide

.. note:: This Notebook (`test.ipynb`) is located in the path `inflated_beta_reg/docs/source/user_guide`

##### Filter Warning Messages

In [1]:
import warnings
warnings.filterwarnings('ignore')

##### Importing the package

In [2]:
import sys
import pathlib
import os
main_path = pathlib.Path(os.getcwd()).parents[2]
sys.path.insert(0, main_path.resolve().as_posix())
from src import InflatedBeta

##### Reading the raw data

In [3]:
import pandas as pd
df__ = pd.read_excel(os.path.join(main_path, "data", "sample.xlsx"), engine='openpyxl')
df__.head()

       Col1  Col2  Col3  Col4  ColY
0 -1.000252     0    97     1   0.0
1 -1.000252     0    97     0   0.0
2 -1.000252     0    97     1   0.0
3 -1.000252     0    97     1   0.0
4 -0.660145     1    18     1   0.0

In [4]:
df__.shape

(274, 5)

##### Preparing the data for the model run

In [5]:
ibr = InflatedBeta(verbose=False)
ibr.data_prep(df__, ['Col1','Col2','Col3','Col4'], 'ColY', 0.0, 1.0)

.. note:: The verbose can be turned on by assigning the value `True` for verbose and it will display Log-likelihood, gradient and parameter values at each iteration

##### Final Output in same format as SAS Output

.. note:: The initial parameter values are all set to `0.0001`

In [6]:
ibr.estimate_params([0.0001, 0.0001, 0.0001, 0.0001, 0.0001])

,Parameter,Estimate,Standard Error,DF,t Values,Pr > |t|,95% Confidence Limits,Gradient
0,const,0.979848,0.433598,274.0,2.259807,2.461866e-02,"(0.12624103836277145, 1.833455270005466)",-2.460134e-07
1,Col1,0.243599,0.202390,274.0,1.203614,2.297778e-01,"(-0.15483759510170866, 0.6420360183502578)",-1.137390e-07
2,Col2,-0.207923,0.291136,274.0,-0.714178,4.757251e-01,"(-0.7810697370998063, 0.3652243890452674)",-1.255724e-07
3,Col3,-0.003521,0.006275,274.0,-0.561117,5.751761e-01,"(-0.01587325143966352, 0.008831715518177765)",-8.834626e-06
4,Col4,-0.845344,0.350082,274.0,-2.414707,1.640316e-02,"(-1.5345357080948485, -0.1561528137161161)",-1.857017e-07
5,pie,0.686131,0.028130,274.0,24.391124,0.000000e+00,"(0.6307522597947148, 0.7415105142806013)",2.243973e-07
6,kesai,0.319149,0.033913,274.0,9.410690,0.000000e+00,"(0.2523849015274205, 0.3859129715992326)",3.402000e-07
7,phi,0.667064,0.080295,274.0,8.307647,4.440892e-15,"(0.5089897962116232, 0.8251373271288636)",2.492862e-08